.card {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin-top: 120px;
  background-color: #F9FAFB;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}

.blogCardContent {
  padding: 24px 16px;
}

.imageHeader {
  background-image: url('../../assets/spacejoy-YqFz7UMm8qE-unsplash.jpg');
  height: 288px;
  background-position: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px; 
}